# PlatformIO
.pio/
.vscode/
libdeps/
*.elf
*.bin
*.hex
*.map
*.csv

# Python/PlatformIO caches
__pycache__/
*.pyc
*.pyo

# macOS & Linux
.DS_Store
.Trashes
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
